/* footer.css
.footer-container {
    text-align: center;
    padding: 10px;
    background-color: rgb(223, 204, 204); /* Adjust the background color as needed */
    /* position: fixed;
    bottom: 0;
    width: 200%;
  }
   */ 